<a href="https://colab.research.google.com/github/egreven/CS506-Fall2021/blob/emilygreven/CensusProjectDeliverable1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
X_2012 = pd.read_excel("/content/drive/MyDrive/Community Analysis Data/Brazilian Immigrants.xlsx",sheet_name='2012')
X_2012.head()

   Unnamed: 0    State Code    1   2     4    5  ...   50    51    53   54   55  56
0  Population    Population  130  63  3036  124  ...  295  4320  3189  217  782  99
1         Age    Age 0 to 4    0   0     0    0  ...    0     0     0    0    0   0
2         Age  Age 05 to 09    0   0   145    0  ...    0     0     0    0    0   0
3         Age  Age 10 to 19  130   0   186    0  ...   60   606     0    0  267   0
4         Age  Age 20 to 24    0   0   389    0  ...   38     0   409    0    0   0

[5 rows x 52 columns]